<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Poloniex Bot Login Page</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
</head>

<body>
{% from "/macros.html" import render_field_login %}
<form action="login" method="post">
    {{ form.csrf_token }}

    {{ render_field_login(form.username, class="input text") }}
    {{ render_field_login(form.password, class="input text") }}

    <button type="submit" class="button buttonBlue">Sign in
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>
